table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
th, td{
    border: 1px solid black;
}
th{
    background-color: background;
}
tr:nth-of-type(even){
    background-color: lightcyan;
}